* {
    border-radius: 0px;
    border: none;
    font-size: 12px;
    min-height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

window#waybar {
    background: #232136;
}


#custom-app {
    min-width: 40px;
    padding: 1px 1px;
    margin: 2px 2px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces button.active {
    background: #eb6f92;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    color: #cecacd;
}

#clock {
    color: #f6c177;
    min-width: 50px;
}

#custom-power {
    min-width: 35px;
    color: #eb6f92;
}
