* {
    border-radius: 0px;
    border: none;
    font-size: 12px;
    min-height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

window#waybar {
    background: #232136;
}


#custom-app {
    min-width: 40px;
    margin-left: 2px;
    margin-right: 2px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

#workspaces button.active {
    background: #6e6a86; 
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    color: #2a283e;
    font-weight: bold;
}

#clock {
    color: #f6c177;
    min-width: 50px;
}

#battery {
    color: #CDFFDD;
}

#battery.charging, #battery.plugged {
    color: #9ccfd8;
}

#custom-power {
    min-width: 35px;
    color: #eb6f92;
}

#pulseaudio,
#backlight {
    padding: 0 10px;
    margin-left: 3px;
    margin-right: 3px;
    color: #e0def4;
}
